
    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">Event Name - Event Date</h1>

      <div class="row text-center text-lg-left">

        <div *ngFor="let img of results">
          <div class="col-lg-3 col-md-4 col-xs-12">
            <input type="checkbox" class="checkmark">
              <img src="{{ img }}" class="img-fluid img-thumbnail" />
          </div>
        </div>

      <!--  <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
        </div>

        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <input type="checkbox" class="checkmark">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
          -->
      </div>

    </div>

    <!-- /.container -->
